/*------------------------------------*\
    #BOOKEASY SEARCH GADGET
\*------------------------------------*/

// scss-lint:disable all


#bookeasy__region-gadget div.BE.region-gadget,
#bookeasy__details-gadget div.BE.details-gadget {

    div.search-gadget {
        color: $sagovau-color-text-base;
        font-family: "Frutiger LT Com", Helvetica, Arial, sans-serif;
        font-weight: 200;
        font-size: 16px;
        background: $sagovau-color-brand;
        border: 0;
        border-radius: 4px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        @include media-query(large-and-up) {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        > div {
            opacity: 1;
            transition: opacity .25s ease-in-out;
        }

        &.loading {
            div {
                opacity: 0;
            }
            .spinner {
                opacity: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50px;
                height: 50px;
                background-color: #03a9f4;
                border-radius: 50%;
                background: none;
                box-shadow: none;

                &:after {
                    content: '';
                    position: absolute;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    border: 0px solid white;
                    transform: translate(-50%, -50%);
                    animation: loading 1000ms ease-out forwards infinite;
                }
            }
        }

        div.product {
        }


        div.date {
            float: none;
            margin: 0 0 0.4em;

            @include media-query(large-and-up) {
                width: 140px;
                margin: 0 1em 0.4em 0;
                float: left;
            }

            .input {
                height: 2.61em;
                background: #fff;

                span {
                    background-position: -50px 7px;
                    background-position: right 7px;
                    padding-top: 0.5em;
                    height: 25px;
                    width: 100%;
                }
            }
        }

        div.button {
            a {

            }
        }

        div.product,
        div.period,
        div.adults,
        div.children,
        div.infants,
        div.concessions,
        div.students,
        div.observers,
        div.family,
        div.currencyId {
            float: none;
            margin: 0 0 0.4em;


            @include media-query(large-and-up) {
                width: 80px;
                float: left;
                margin: 0 1em 0.4em 0;
            }
        }

        div.date span.input {
            width: 100%;
        }

        span.label {
            color: #fff;
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 0.35em;
            margin-bottom: 0;
            opacity: 1;
            transition: opacity .25s ease-in-out;

            .loading & {
                opacity: 0;
                transition: opacity .25s ease-in-out;
            }
        }

        select {
            font-family: inherit;
            font-size: 16px;
            height: 2.61em;
            padding: 0.5em;
            background: #fff;
            border: 0;
            border-radius: 3px;
            // width: 5em;
            width: 100%;
            appearance: none;
        }


        span.input {
            border: 0;

            input {
                font-family: inherit;
                border: 0;
                font-size: 16px;
                height: 2.61em;
                padding: 0 0.5em;
                outline: 0;
                border-radius: 3px;

                &:focus {
                    outline: 0;
                }
            }
        }
    }
}

@keyframes loading {
  0% {
    border: 0px solid white;
  }

  20% {
    border: 8px solid white;
    width: 0%;
    height: 0%;
  }

  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%;
  }
}
