/*------------------------------------*\
    #BOOKEASY CONDITIONS
\*------------------------------------*/

// scss-lint:disable all


#bookeasy__conditions {
    color: $sagovau-color-text-base;
    font-family: "Frutiger LT Com", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 200;
}
