{% extends 'layouts/master.html' %}

{% set hero_title = 'Book now' %}
{% set hero_image = 'upload/hero/book.jpg' %}





{% block content %}

    <article class="article">

        <h2>Option 1 - go it alone</h2>
        <p>Xero et etuscil molupti dis pre cores porum autem et volor adis cum, iur sapicianda doluptur?</p>

        <div id="bookeasy__details-gadget"></div>

        <h2>Option 2 - be guided</h2>
        <p>Xero et etuscil molupti dis pre cores porum autem et volor adis cum, iur sapicianda doluptur?</p>

    </article>

{% endblock %}






{% block javascript %}
    {{ super() }}
{% endblock %}





{% block local_javascript %}
    <script src="//gadgets.impartmedia.com/gadgets.jsz?key={{ bookeasy_key }}"></script>

    <script src="js/bookeasy-details.js" inline></script>

    <script src="js/bookeasy-cart.js" inline></script>
{% endblock %}
