{% extends 'layouts/master.html' %}

{% set hero_title = 'Gallery' %}
{% set hero_image = 'upload/hero/gallery.jpg' %}





{% block content %}

    <article class="article">

        <div class="masonry">
            <div class="item"><a class="fancybox" href="images/upload/gallery/GH1.jpg" rel="gallery"><img src="images/upload/gallery/GH1.jpg" /></a></div>
            <div class="item"><a class="fancybox" href="images/upload/gallery/GV1.jpg" rel="gallery"><img src="images/upload/gallery/GV1.jpg" /></a></div>
            <div class="item"><a class="fancybox" href="images/upload/gallery/GH2.jpg" rel="gallery"><img src="images/upload/gallery/GH2.jpg" /></a></div>
            <div class="item"><a class="fancybox" href="images/upload/gallery/GV2.jpg" rel="gallery"><img src="images/upload/gallery/GV2.jpg" /></a></div>
            <div class="item"><a class="fancybox" href="images/upload/gallery/GH3.jpg" rel="gallery"><img src="images/upload/gallery/GH3.jpg" /></a></div>
            <div class="item"><a class="fancybox" href="images/upload/gallery/GH7.jpg" rel="gallery"><img src="images/upload/gallery/GH7.jpg" /></a></div>
            <div class="item"><a class="fancybox" href="images/upload/gallery/GV3.jpg" rel="gallery"><img src="images/upload/gallery/GV3.jpg" /></a></div>
            <div class="item"><a class="fancybox" href="images/upload/gallery/GH4.jpg" rel="gallery"><img src="images/upload/gallery/GH4.jpg" /></a></div>
            <div class="item"><a class="fancybox" href="images/upload/gallery/GV4.jpg" rel="gallery"><img src="images/upload/gallery/GV4.jpg" /></a></div>
            <div class="item"><a class="fancybox" href="images/upload/gallery/GH5.jpg" rel="gallery"><img src="images/upload/gallery/GH5.jpg" /></a></div>
            <div class="item"><a class="fancybox" href="images/upload/gallery/GV5.jpg" rel="gallery"><img src="images/upload/gallery/GV5.jpg" /></a></div>
            <div class="item"><a class="fancybox" href="images/upload/gallery/GH6.jpg" rel="gallery"><img src="images/upload/gallery/GH6.jpg" /></a></div>
            <div class="item"><a class="fancybox" href="images/upload/gallery/GV6.jpg" rel="gallery"><img src="images/upload/gallery/GV6.jpg" /></a></div>
            <div class="item"><a class="fancybox" href="images/upload/gallery/GV7.jpg" rel="gallery"><img src="images/upload/gallery/GV7.jpg" /></a></div>
            <div class="item"><a class="fancybox" href="images/upload/gallery/GH8.jpg" rel="gallery"><img src="images/upload/gallery/GH8.jpg" /></a></div>
            <div class="item"><a class="fancybox" href="images/upload/gallery/GV8.jpg" rel="gallery"><img src="images/upload/gallery/GV8.jpg" /></a></div>
            <div class="item"><a class="fancybox" href="images/upload/gallery/GV9.jpg" rel="gallery"><img src="images/upload/gallery/GV9.jpg" /></a></div>
        </div>

    </article>

{% endblock %}





{% block javascript %}
    {{ super() }}
{% endblock %}
