{% extends 'layouts/master.html' %}

{% set hero_title = 'Gallery' %}
{% set hero_image = 'upload/hero/gallery.jpg' %}
{% set page_intro_title = '#KIwildernesstrail' %}
{% set page_intro_text = '<p>Tag your Instagram pics and see them display on this page.</p>' %}





{% block content %}

    {% include "shared/page-intro.html" %}
    
    <article class="article">
        <link rel="stylesheet" type="text/css" href="//cdn.curator.io/3.1/css/curator.css"/>
        <div id="curator-feed"></div>

    </article>

    <script type="text/javascript" src="//cdn.curator.io/3.1/js/curator.js"></script>
    <script type="text/javascript">
    	var widget = new Curator.Widgets.Waterfall({
            container:'#curator-feed',
            debug: false,
            feedId:'46264058-39c2-4c9e-a951-b40840aa',
            filter: {
    	        showNetworks: false,
    	        showSources: false
    	    },
            lang: 'en',
            postsPerPage: 9,
            waterfall: {
                animate: true,
                animateSpeed: 150,
                gridWidth: 300,
                showLoadMore: true
            },
    	});
    </script>
    
    <style>
        
    </style>

{% endblock %}





{% block javascript %}
    {{ super() }}
{% endblock %}
