{% extends 'layouts/home.html' %}

{% set hero_title = 'Kangaroo Island<span> </span>Wilderness Trail' %}
{% set hero_image = 'upload/hero/home.jpg' %}
{% set page_intro_title = 'One of Australia\'s great walks.' %}
{% set page_intro_text = '<p>Nature\'s drama unfolds at every step of the 66 kilometre five-day trek, with the trail weaving its way through the most botanically unique area in all of South Australia before reaching the rugged, remote and spectacular coastline of the Southern Ocean. </p><p>The unimaginable beauty of this area of the world has to be seen to be believed. Come and discover the magic for yourself.</p>' %}





{% block content %}

    <div class="page-intro">

        <div class="wrapper">

            <h2 class="page-intro__title">{{ page_intro_title }}</h2>

            <div class="page-intro__content">
                {{ page_intro_text }}
            </div>

            <ul class="icon-list">

                <li>
                    <img class="icon-list__icon  icon-list__icon--location" src="images/kiwt-icon-location.svg" alt="">
                    <strong>Location</strong>
                    South-west
                    Kangaroo Island
                </li>
                <li>
                    <img class="icon-list__icon  icon-list__icon--distance" src="images/kiwt-icon-distance.svg" alt="">
                    <strong>Distance / Time</strong>
                    66km / 5 Days
                </li>
                <li>
                    <img class="icon-list__icon  icon-list__icon--difficulty" src="images/kiwt-icon-difficulty.svg" alt="">
                    <strong>Difficulty</strong>
                    Easy to moderate
                </li>
                <li>
                    <img class="icon-list__icon  icon-list__icon--calendar" src="images/kiwt-icon-calendar.svg" alt="">
                    <strong>Best time to go</strong>
                    September until April
                </li>

            </ul>

        </div>

    </div>

{% endblock %}





{% block javascript %}
    {{ super() }}
{% endblock %}
