/*------------------------------------*\
    #ICON-LIST
\*------------------------------------*/

/*ul*/.#{$sagovau-namespace}icon-list {
    margin: 0;
    padding: 1em 0 0;
    color: $sagovau-color-brand;
    text-align: left;
    text-align: center;

    @include media-query(small-and-up) {
        display: flex;
        flex-direction: row;
    }

    @include media-query(large-and-up) {
        padding: 3em 0 0;
        text-align: center;
    }

    @include media-query(huge) {
        margin: 0 auto;
        width: 80%;
    }

    li {
        margin: 0;
        padding: 0 0.5em 1em;
        list-style: none;
        font-weight: 200;
        display: flex;
        line-height: 1;
        text-align: left;

        @include media-query(small-and-up) {
            display: inline-block;
            flex: 1;
            text-align: center;
        }
    }

    strong {
        font-weight: 700;
        margin-bottom: 0.4em;
            display: block;

        @include media-query(small-and-up) {
        }

        @include media-query(large-and-up) {
            display: block;
        }
    }

    .tabpanel & {
        padding: 0 0 $sagovau-spacing-unit-base;
    }
}


/*p*/.#{$sagovau-namespace}icon-list__text {
    margin: 0;
    align-self: center;
}


/*img*/.#{$sagovau-namespace}icon-list__icon {
    margin-right: 1em;
    margin-bottom: 0.8em;

    @include media-query(large-and-up) {
        margin-right: 0;
    }

}
