/*------------------------------------*\
    #TABS
\*------------------------------------*/


/*div*/.#{$sagovau-namespace}tabs {
}

/*div*/.#{$sagovau-namespace}tablist {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    margin-bottom: $sagovau-spacing-unit-base * 2;
    display: none;

    @include media-query(large-and-up) {
        display: flex;
    }

    li {
        flex: 1;
        text-align: center;
    }
}

/*a*/.#{$sagovau-namespace}tablist__tab {
    @include responsive-font(5vw, 30px, 42px, 42px);
    background: #e8e8e8;
    color: $sagovau-color-text-base;
    display: block;
    text-decoration: none;
    font-family: $sagovau-font-family-highlight;
    font-weight: 200;
    padding: 0.2em 0 0;

    &:hover,
    &:focus {
        background: darken(#e8e8e8, 10%);
        color: $sagovau-color-text-base;
        outline: 0;
    }

    &.selected,
    &[aria-selected='true'] {
        background: $sagovau-color-brand;
        color: #fff;
    }
}


/*div*/.#{$sagovau-namespace}tabpanel {
    overflow: hidden;

    @include media-query(large-and-up) {
        display: flex;
    }
}


/*div*/.#{$sagovau-namespace}tabpanel__accordion-title {
    @extend %#{$sagovau-namespace}beta;

    @include media-query(large-and-up) {
        display: none;
    }
}


/*div*/.#{$sagovau-namespace}tabpanel__content {
    padding: 0;

    @include media-query(large-and-up) {
        flex: 1;
        order: 2;
        padding: 0 $sagovau-spacing-unit-base * 2;
    }
}


/*div*/.#{$sagovau-namespace}tabpanel__images {
    margin-bottom: 60px;

    @include media-query(large-and-up) {
        flex: 1;
        order: 1;
        margin-bottom: 0;
    }

    img {
        display: block;

        &:first-child {
            display: none;

            @include media-query(large-and-up) {
                display: block;
            }
        }
    }
}


/*div*/.#{$sagovau-namespace}tabpanel__title {
    text-align: center;
    margin: 0 0 $sagovau-spacing-unit-base * 1.5;
}


[aria-hidden='true'] {
    display: block !important;

    @include media-query(large-and-up) {
        display: none !important;
    }
}
