/*------------------------------------*\
    #FULL-BG
\*------------------------------------*/

/*div*/.#{$sagovau-namespace}full-bg {
    position: relative;
    background-position: 50%;
    background-size: cover;
    text-align: center;

    &::before {
        display: block;
        content: '';
        width: 100%;
        padding-top: percentage(505 / 1270);
    }

    &--map {
        &::before {
            padding-top: percentage(615 / 1270);
        }
    }
}

/*div*/.#{$sagovau-namespace}full-bg__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*a*/.#{$sagovau-namespace}full-bg__link {
    @extend %beta;
    color: #fff;
    line-height: 1;
    padding: 1em 1em 0.8em 60px;
    text-decoration: none;
    text-transform: none;
    position: relative;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}


/*svg*/.#{$sagovau-namespace}full-bg__icon {
    width: 40px;
    fill: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px;
}
