{% from 'macros/helpers.html' import sprite %}

{% set image_path = 'images/' %}
{% set share_path = 'http://www.environment.sa.gov.au/files/templates/00000000-0000-0000-0000-000000000000/f88a7f3c-df7e-430a-825c-24cfa8dec9a8/' %}
{% set site_prefix = 'kiwt' %}
{% set site_url = 'http://www.environment.sa.gov.au' %}
{% set bookeasy_key = 'd5192d41822d0c987a0610af120d29bf' %}

<!doctype html>
<html>
<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Department of Environment, Water and Natural Resources (DEWNR){% endblock %}</title>


    <!-- Scripts -->

    <script type="text/javascript" src="//fast.fonts.net/jsapi/e0cc203f-7221-4daf-a2d5-815483dba107.js" async></script>


    <!-- Stylesheets -->

    <link href="css/main.css" rel="stylesheet">
    <link href="css/bookeasy.css" rel="stylesheet">

    <noscript>

        <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/e0cc203f-7221-4daf-a2d5-815483dba107.css">

    </noscript>

    <!-- End Stylesheets -->

    {% block head %}{% endblock %}

</head>
<body>


    <div class="site-wrap">

        {% include "shared/global-header.html" %}

        {% include "shared/site-header.html" %}

        <div class="content">

            {% include "shared/site-hero-home.html" %}

            <main role="main">
                {% block content %}
                {% endblock %}
            </main>

            <div class="full-bg  full-bg--map" style="background-image: url(' http://placehold.it/1270x615')">
                <div class="full-bg__content">
                </div>
            </div>


            <div class="full-bg" style="background-image: url('images/upload/hero/video.jpg')">

                <div class="full-bg__content">

                    <a class="full-bg__link  fancybox--video" href="//www.youtube.com/embed/uRdEyMsJAkU?autoplay=1">
                        <svg class="full-bg__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
                            <path d="M9,18c-4.963,0-9-4.037-9-9c0-4.963,4.038-9,9-9s9,4.038,9,9C18,13.963,13.963,18,9,18z M9,0.582C4.358,0.582,0.582,4.359,0.582,9S4.358,17.418,9,17.418c4.641,0,8.418-3.776,8.418-8.418S13.642,0.582,9,0.582z"/>
                            <path d="M6.62,13.929c-0.051,0-0.101-0.013-0.146-0.039c-0.09-0.052-0.145-0.148-0.145-0.252V4.383c0-0.106,0.058-0.204,0.151-0.255c0.093-0.051,0.207-0.047,0.297,0.01l7.679,4.905c0.086,0.055,0.137,0.151,0.134,0.253c-0.003,0.102-0.059,0.195-0.147,0.245l-7.679,4.351C6.719,13.917,6.669,13.929,6.62,13.929z M6.911,4.914v8.224l6.823-3.866L6.911,4.914z"/>
                        </svg>

                        Watch the welcome tour
                    </a>

                </div>

            </div>

            {% include "shared/cta-strip.html" %}

            {% include "shared/navigation-tiles.html" %}

            {% include "shared/site-footer.html" %}

        </div><!-- /.content -->


    </div><!-- /.site-wrap -->


    {% block javascript %}

        <!-- jQuery -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- Local fallback -->

        <script>window.jQuery || document.write('<script src="/files/templates/00000000-0000-0000-0000-000000000000/f88a7f3c-df7e-430a-825c-24cfa8dec9a8/jquery1111min.js">\x3C/script>')</script>

        <!-- End local fallback -->

        <!-- End jQuery -->

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    {% endblock %}

    {% block local_javascript %}{% endblock %}


</body>
</html>
