{% from 'macros/helpers.html' import sprite %}

{% set image_path = 'images/' %}
{% set css_path = 'css/' %}
{% set share_path = 'http://www.environment.sa.gov.au/files/templates/00000000-0000-0000-0000-000000000000/f88a7f3c-df7e-430a-825c-24cfa8dec9a8/' %}
{% set site_prefix = 'kiwt' %}
{% set site_url = 'http://www.environment.sa.gov.au' %}
{% set bookeasy_key = 'd5192d41822d0c987a0610af120d29bf' %}

<!doctype html>
<html lang="en" xml:lang="en" class="no-js" prefix="og: http://ogp.me/ns#">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Department of Environment, Water and Natural Resources (DEWNR){% endblock %}</title>

    <link href="{{ css_path }}inline/fonts.css" rel="stylesheet">

    <!-- Scripts -->

    <script src="js/prepare.js" inline></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- Stylesheets -->

    <link href="css/main.css" rel="stylesheet">
    <link href="css/bookeasy.css" rel="stylesheet">

    <!-- End Stylesheets -->

    {% block head %}{% endblock %}

</head>
<body>


    <div class="site-wrap">

        {% include "shared/global-header.html" %}

        {% include "shared/site-header.html" %}

        <div class="content">

            {% include "shared/site-hero.html" %}

            <main role="main">
                {% block content %}
                {% endblock %}
            </main>

            {% include "shared/cta-strip.html" %}

            {% include "shared/navigation-tiles.html" %}

            {% include "shared/site-footer.html" %}

        </div><!-- /.content -->


    </div><!-- /.site-wrap -->


    {% block javascript %}

        <!-- jQuery -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- Local fallback -->

        <script>window.jQuery || document.write('<script src="/files/templates/00000000-0000-0000-0000-000000000000/f88a7f3c-df7e-430a-825c-24cfa8dec9a8/jquery1111min.js">\x3C/script>')</script>

        <!-- End local fallback -->

        <!-- End jQuery -->

        <script src="js/app.js"></script>

    {% endblock %}

    {% block local_javascript %}{% endblock %}


</body>
</html>
