<div class="navigation-tiles">

    <div class="wrapper--large  u-flex">

        {% for item in navigationTiles %}

            {% for tile in item.tiles %}
            <a class="navigation-tile {{tile.class}}" href="{{tile.href}}">

                <div class="navigation-tile__image    fixed-aspect-ratio  fixed-aspect-ratio--1x1" style="background-image: url({{tile.image}})"></div>

                <div class="navigation-tile__text">
                    <h2 class="navigation-tile__title">{{tile.title}}</h2>
                </div>
            </a>
            {% endfor %}

        {% endfor %}

    </div>

</div>
